@using Myzj.OPC.UI.Common
@{
    ViewBag.Title = "ImageUploading";

    Layout = null;
}

<script src="../../Scripts/ajaxfileupload.js"></script>
<table class="showDetailTable" cellspacing="0">
    <tr>
        <td colspan="2">
            <input id="myImage" name="myImage" type="file" /></td>
        <td colspan="2">
            <input id="butUpload" type="button" value="图片上传" onclick="uploadImage()" style="width: 30%" />
        </td>
    </tr>
    <tr class="showImg">
        <td>图片路径：
        </td>
        <td>
            <input id="txtImgUrl" type="text" />
        </td>
        <td>图片原路径：
        </td>
        <td>
            <input id="txtOriginalImgUrl" type="text" />
        </td>
    </tr>
    <tr class="showImg">
        <td>图片链接
        </td>
        <td colspan="4">
            <a href="" id="imgLink" target="_blank">
                <img style="width: 200px" src="" id="img" /></a>
        </td>
    </tr>
</table>

<script>
    $(".showImg").hide();

    //上传图片
    function uploadImage() {
        $.ajaxFileUpload({
            url: "/Default/ImageUploading",
            secureuri: false,
            fileElementId: "myImage",
            dataType: 'json',
            success: function (result) {

                if (result.DoFlag) {
                    var url = '@WebUrl.ImgUrl()';
                    var imgUrl = url + result.imgPath;
                    $(".showImg").show();

                    $("#txtImgUrl").val(result.imgPath);
                    $("#txtOriginalImgUrl").val(imgUrl);
                    $("#imgLink").prop("href", imgUrl);
                    $("#img").prop("src", imgUrl);

                } else {
                    $(".showImg").hide();
                    alert(result.DoResult);
                }
            }
        });
    }

</script>
