@using MYZJ.OPC.UI.Model
@model MYZJ.OPC.UI.Model.Pager
@{
    if (Pager.IsShow(Model))
    {
    <div class="paginator">
        @Html.PageNative(Model.PageIndex, Model.PageSize, Model.Total, Model.RedirectUrl, Model.Fun)
    </div>
    }
}